<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watanya.archive">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".ui.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.view.splash.SplashActivity" />
        <activity android:name=".ui.view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.test.TestActivity" />
        <activity android:name=".ui.view.createFile.CreateFileActivity" />
        <activity android:name=".ui.view.createCategory.CreateCategoryActivity" />
        <activity android:name=".ui.view.viewfiles.ViewFilesActivity" />
        <activity android:name=".ui.view.viewPapers.ViewPapersActivity" />
    </application>

</manifest>